- content_for :home do
  #homeSidebar{class: 'twoCol'}
    .shadow.sidebarWrap
      .sidebar
        .sidebarHeader Categories
        .sidebarBody.appcategories.jspScrollable{style: 'overflow: scroll; height: 148px;'}
          %ul
            - @categories.each do |x|
              - if x.kind_of?(Category)
                %li= link_to x.title, apps_path(category: x.title)
              - else
                %li= link_to x.first, apps_path(sort: x.last)
    .shadow.sidebarWrap
      .sidebar
        .sidebarHeader Genres
        .sidebarBody.appcategories.jspScrollable{style: 'height: 148px; overflow: scroll'}
          %ul
            - @genres.each do |x|
              %li= link_to x.title, apps_path(genre: x.title)
    .shadow.sidebarWrap
      .sidebar
        .sidebarHeader Platforms
        .sidebarBody.appPlatforms
          .appPlatformsCenter
            = link_to content_tag(:span, '', class: 'sprite sprite-pc'), apps_path(platform: 'pc')
            = link_to content_tag(:span, '', class: 'sprite sprite-mac'), apps_path(platform: 'mac')
            = link_to content_tag(:span, '', class: 'sprite sprite-linux'), apps_path(platform: 'linux')
          .clearfix
#homeOuterWrap
  #heroWrap
    #hero
      - @heroes.each do |x|
        .heroInner{style: 'display: block'}= link_to image_tag(x.primary_screenshot) + content_tag(:span, x.title, style: 'width: 100%;'), app_path(x)
  #heroNav{style: 'display:block;'}
    - @heroes.each do |x|
      %span{class: 'shadow'}= link_to '', '#'
  #socialWidgets
    //TODO
  .clearfix
  #CTA{class: 'eightCol pullRight pullLeft'}
    =link_to '', "https://www.oculusvr.com/rift/", class: "bannerOrder shadow"
    =link_to '', '/submission-guidelines', class: "bannerSubmit shadow"
  #featuredsAppWrap{class: 'contentBg eightCol pullLeft pullRight shadow'}
    %h2 Featured
    #featuredApps
      - @featured.each do |x|
        .featuredApp
          .pad
            .screenshot
              = link_to image_tag(x.primary_screenshot), app_path(x)
            %h3= link_to x.title, app_path(x)
            .description= truncate(x.short_description, length: 200)
            = link_to content_tag(:span, '', class: 'ui-icon ui-icon-triangle-1-e') + 'Read More', app_path(x), class: 'readMore'
  .clearfix
  #popularWrap{class: 'eightCol pullLeft pullRight'}
    #topRatedWrap{class: 'contentBg fourCol pullLeft shadow'}
      .pad
        %h3 Top Rated
        #topRatedApps
          - @top_rated.each do |x|
            .mainRatingPod
              .appInfoWrap
                = link_to image_tag(x.primary_screenshot), app_path(x)
              .scoreWrap
                = link_to x.title, app_path(x)
                .scoreWrapInner
                  Average User Rating:
                  %span.score
                    = x.rating
                    %span.outOf /5
                  %p.info
                    Based on
                    %span#ratingTotal= rand(20)
                    ratings
                .clearfix
              .clearfix
        .moreLink= link_to 'More', apps_path(sort: 'rating')
    #newestWrap{class: 'contentBg fourCol pullRight shadow'}
      .pad
        %h3 Newest
        #newestApps
          - @newest.each do |x|
            .mainRatingPod
              .appInfoWrap
                = link_to image_tag(x.primary_screenshot), app_path(x)
              .osWrap
                = link_to x.title, app_path(x), class: 'head'
                .osWrapInner
                  = link_to x.category.title, apps_path(category: x.category.title)
                  .os
                    %span.sprite.sprite-pc
                    %span.sprite.sprite-linux
                .clearfix
              .clearfix
        .moreLink= link_to 'More', apps_path(sort: 'created_at')
    .clearfix
