- content_for :home do
  = render :partial => 'shared/sidebar'
#homeOuterWrap
  #heroWrap
    #hero
      - @heroes.each do |x|
        .heroInner{style: 'display: block'}= link_to image_tag(x.primary_screenshot) + content_tag(:span, x.title, style: 'width: 100%;'), app_path(x)
  #heroNav{style: 'display:block;'}
    - @heroes.each do |x|
      %span{class: 'shadow'}= link_to '', '#'
  #socialWidgets
    //TODO
  .clearfix
  #CTA{class: 'eightCol pullRight pullLeft'}
    =link_to '', "https://www.oculusvr.com/rift/", class: "bannerOrder shadow"
    =link_to '', '/submission-guidelines', class: "bannerSubmit shadow"
  #featuredsAppWrap{class: 'contentBg eightCol pullLeft pullRight shadow'}
    %h2 Featured
    #featuredApps
      - @featured.each do |x|
        .featuredApp
          .pad
            .screenshot
              = link_to image_tag(x.primary_screenshot), app_path(x)
            %h3= link_to x.title, app_path(x)
            .description= truncate(x.short_description, length: 200)
            = link_to content_tag(:span, '', class: 'ui-icon ui-icon-triangle-1-e') + 'Read More', app_path(x), class: 'readMore'
  .clearfix
  #popularWrap{class: 'eightCol pullLeft pullRight'}
    #topRatedWrap{class: 'contentBg fourCol pullLeft shadow'}
      .pad
        %h3 Top Rated
        #topRatedApps
          - @top_rated.each do |x|
            .mainRatingPod
              .appInfoWrap
                = link_to image_tag(x.primary_screenshot), app_path(x)
              .scoreWrap
                = link_to x.title, app_path(x)
                .scoreWrapInner
                  Average User Rating:
                  %span.score
                    = x.rating
                    %span.outOf /5
                  %p.info
                    Based on
                    %span#ratingTotal= rand(20)
                    ratings
                .clearfix
              .clearfix
        .moreLink= link_to 'More', apps_path(sort: 'rating')
    #newestWrap{class: 'contentBg fourCol pullRight shadow'}
      .pad
        %h3 Newest
        #newestApps
          - @newest.each do |x|
            .mainRatingPod
              .appInfoWrap
                = link_to image_tag(x.primary_screenshot), app_path(x)
              .osWrap
                = link_to x.title, app_path(x), class: 'head'
                .osWrapInner
                  - if x.category
                    = link_to x.category.title, apps_path(category: x.category.title)
                  .os
                    - x.platforms_array.each do |x|
                      %span{class: "sprite sprite-#{x}"}
                .clearfix
              .clearfix
        .moreLink= link_to 'More', apps_path(sort: 'created_at')
    .clearfix
