#appsOuterWrap
  .appsHeader.eightCol
    %h1.shadow= @app.title
    .clearfix
  .appWrap.sixCol
    .mediaOuterWrap
      .mediaInnerWrap.shadow#mediaVideosWrap{'data-type' => 'videos'}
        - if @app.youtube_url
          .videoPreview
            %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "394", :src => "http://www.youtube.com/embed/#{@app.youtube_url.gsub(/^.*v=(.*)$/, '\1')}", :title => "YouTube video player", :width => "700"}
        - else
          = image_tag @app.primary_screenshot, width: '700', height: '394'
      .mediaInnerWrap.hide{'data-type' => 'images'}
        .appScreens.shadow
    #screenPreviewsWrap.sixCol.pullLeft.shadow{style: 'display: block; overflow: scroll; padding: 0px; width: 700px;', tabindex: 0}
      #screenPreviews{style: 'width:720px;padding:3px;margin:0;height:100%'}
        - [@app.screenshot1, @app.screenshot2, @app.screenshot3, @app.screenshot4, @app.screenshot5].each do |x|
          - next if x.blank?
          = link_to image_tag(x,'data-type' => 'screen'), '#'
    .clearfix
  .navSidebar.twoCol
    #appThumbWrap.shadow
      = image_tag @app.primary_screenshot
    .sidebarWrap
      .sidebar.download.shadow
        .sidebarHeader Download
        .sidebarBody
          .pad
            #downloadPlatforms
              %span.platformSelect
                - @app.platforms_array.each_with_index do |x,i|
                  - name = "download_#{x}"
                  %input{type: :radio, class: :radio, name: name, id: name, value: x, checked: i == 0 ? 'checked' : nil}
                  %label{class: "sprite sprite-#{x}", for: name}
              .clearfix
            = link_to 'Download Now', download_app_path(@app), class: 'button', id: 'platformDownloadButton'
            %p.totalDownloads
              %span.downloadCount= rand(200000) # just an example...looks like it's done async today
            %p#versionWrap
              %span#version= @app.version_and_notes
              Version:
    .sidebarWrap
      .sidebar.shadow.developer
        .sidebarHeader Developer
        .sidebarBody
          .pad
            = link_to content_tag(:span, '', class: 'sprite sprite-rift', id: 'submitterAvatar'), user_path(@user)
            %p.displayName
              = link_to @user.name, user_path(@user)
          .clearfix
          .pad.contactWrap
            = link_to content_tag(:span, '', class: 'ui-icon ui-icon-home') + 'Website', @user.website, target: '_blank'
            = link_to content_tag(:span, '', class: 'ui-icon ui-icon-mail-closed') + 'Email', '#', id: 'emailDeveloperTrigger'
  .clearfix
  .eightCol
    %hr.sectionDivider
  .appWrap.sixCol
    = @app.long_description.html_safe
    %nav#techNav.tabs{'data-target' => 'techBoxes'}
      %ul
        %li= link_to 'Minimum System Requirements', '#', class: 'active', 'data-box' => 'minSysReqs'
        %li= link_to 'Setup Instructions', '#', 'data-box' => 'setup'
    .clearfix
    #techBoxes.techWrap.shadow
      .tabBox{'data-box' => 'minSysReqs', style: 'overflow: scroll; padding: 0px; width: 698px;', tabindex: 0}
        .jspContainer{style: 'width: 698px; height: 200px;'}
          .jspPane{style: 'padding: 0px; width: 686px; top: 0px;'}
            .tabBoxInner= @app.minimum_system_requirements.html_safe
      .tabBox.hide{'data-box' => 'setup'}
        .tabBoxInner= @app.setup_instructions.html_safe
    .clearfix
    %h3 Credits
    = @app.credits.try(:html_safe)
    .clear_fix
    #socialwidgets
    .clearfix
    #appCopyrightWrap= @app.copyrights
  .navSidebar.twoCol
    .sidebarWrap.notSelectable
      .sidebar.rateApp.shadow
        .sidebarheader Rate
        .sidebarBody
          .pad
            .scoreWrap
              %span.score
                %span.scoreLive= rand(5)
                %span.outOf /5
              Average User Rating:
              %p.info
                Based on
                %span#ratingTotal= rand(20)
                %span.ratingWord ratings
              .clearfix
            .ratingStarsWrap.hide{style: 'display:none'}
              %hr
    .sidebarWrap.notSelectable
      .sidebar.comfortRateApp.shadow
        .sidebarHeader Comfort Level
        .sidebarBody
          .pad
            .comfortScoreWrap
              %span.comfortScoreIcon.sprite.sprite-comfort_4_l
              %span.comfortScoreExplanation A moderately comfortable VR experience.
              .clearfix
          .comfortIconWrap.hide{style: 'display:none'}
            %hr
    .sidebarWrap
      .sidebar.shadow
        .sidebarHeader Information
        .sidebarBody.metaData
          %table
            %tbody
              %tr
                %td Developer
                %td= @app.developer
              %tr
                %td Publisher
                %td= @app.publisher
              %tr
                %td Release Date
                %td= @app.released_at
          %p.innerTitle Category
          %ul
            %li= link_to @app.category.title, category_path(@app.category)
          %p.innerTitle Genres
          %ul
            - @app.genres.each do |genre|
              %li= link_to genre.title, genre_path(genre)
          %p.innerTitle Supported Rift Versions
          .pad= @app.rift_versions
          %p.innerTitle Supported Controllers
          .pad= @app.controllers
          %p.innerTitle Game Modes
          .pad= @app.modes
    .sidebarWrap
